[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
scikit-learn = "*"
gensim = "*"
tqdm = "*"
spacy = "*"

[requires]
python_version = "3.8"
